* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fontSize: 16px;
}
html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fontSize);
}

/* Common code */
.text-white {
  color: #fff !important;
}

.pull-right{
  float: right !important;
}
.about-section,
.tour-section,
.contact-section {
  max-width: 800px;
  margin: auto;
  padding: 64px 16px;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding: 0 8px;
}

.col-1 {
  width: 100%;
}
.col-2 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 3);
}

.text-center {
  text-align: center;
}

.mt-8{
  margin-bottom: 8px !important;
}

.padding-32{
  padding: 32px 0px;
}

.btn {
  margin: 0px 0px 16px;
  background-color: #000;
  width: fit-content;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: none;
  -webkit-appearance: none;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}


/* Common code */
#main {
  font-family: "Lato", sans-serif;
}

#header {
  --height: 50px;
  height: var(--height);
  width: 100%;
  background-color: #000;
  font-size: 68.75%;
  font-weight: 100;
  position: fixed;
  top: 0;
  z-index: 1;
}

.clear {
  clear: both;
}

#nav,
.subnav {
  list-style: none;
  letter-spacing: 4px;
  float: left;
}


#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  text-transform: uppercase;
  color: #fff;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  padding: 0 15px;
}

#nav li a {
  text-decoration: none;
}

#nav li:hover {
  color: #000;
  background-color: #ccc;
}

.dropdown {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  left: 65px;
  border-top: 7px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  padding: 5px 0;
  width: fit-content;
}
#nav li:hover .subnav {
  display: block;
}
#nav li:hover .dropdown {
  border-top: 7px solid #000;
}
#nav .subnav a {
  color: #333;
  display: block;
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}
#nav .subnav a:hover {
  background-color: red;
}

.header-search,
.header-menu {
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.header-search:hover {
  background-color: #f44336;
  cursor: pointer;
}

.header-menu{
  display:none;
}

.header-menu:hover{
  background-color: #ccc;
  color: #000;
}


#slider {
  position: relative;
  margin-top: 50px;
  padding-top: 50%;
  background: url("../img/chicago.jpg") top center / cover no-repeat;
}

#slider .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: 0;
  color: #fff;
  font-family: "Segoe UI", Arial, sans-serif;
  padding: 32px 16px;
  text-shadow: 0px 0px 10px #000;
 
}

#slider .text .title {
  margin: 10px 0;
  line-height: 30px;
  font-size: 24px;
  font-weight: 400;
  
}
#slider .text .paragraph {
  margin: 15px 0;
  line-height: 22.5px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 14px;
}

/* Content section */
.content-section {
  width: 100%;
  line-height: 1.5;
  text-align: center;
}

.content-section .section-heading {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 30px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
.content-section .section-sub-heading {
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
  margin: 15px 0;
}
/* About section */

.about-section .about-text {
  text-align: justify;
  margin: 15px 0;
  font-size: 15px;
  line-height: 1.5;
}

.member-list {
  padding: 32px 0;
}

.member-name {
  margin: 15px 0;
  font-size: 14px;
}
.member-img {
  width: 60%;
  margin-bottom: 16px;
  vertical-align: middle;
  border-radius: 4px;
}

/* Tour section */
.tour-container {
  background-color: #000;
}
.list-ticket {
  font-size: 15px;
  color: #000;
  background-color: #fff;
  list-style: none;
}
.list-ticket li {
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}
.list-ticket .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 18px;
}
.list-ticket .quantity {
  float: right;
  background-color: #000;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
.tour-places {
  padding: 16px 0px;
  overflow: hidden;
}

.tour-place {
  padding: 16px 8px 0px;
}

.tour-place-img {
  width: 100%;
  height: 80%;
  display: block;
}

.tour-place-img:hover {
  cursor: pointer;
  opacity: 0.6;
}
.tour-place-info {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  padding: 0.15px 16px;
  font-size: 15px;
}

.place {
  margin: 15px 0px;
  font-size: 14px;
}

.date {
  margin: 15px 0px;
  opacity: 0.6;
}

.desc {
  margin: 15px 0px;
}



/* Modal box */
.modal-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box-open {
  display: flex;
}

.modal-box-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 64px);
  min-height: 400px;
  position: relative;
  animation: modalBoxDown ease-in-out 0.4s;
}

.btn-close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
  color: #fff;
}

.modal-box-header {
  font-size: 30px;
  background-color: #009688;
  padding: 32px 16px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 5px;
}

.modal-box-header-title {
  margin: 10px 0;
  display: inline-block;
}

.modal-box-content {
  padding: 0.15px 16px;
}

.modal-box-content-label {
  display: block;
  margin: 12px 0px;
  font-size: 15px;
}

.input-ticket {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 15px;
}

.input-ticket-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.input-ticket-button {
  background-color: #009688;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  margin: 15px 0px;
}

.modal-box-footer-text {
  float: right;
  margin: 15px 0 20px;
  font-size: 15px;
}

.modal-box-footer-text a {
  color: #2196f3;
  cursor: pointer;
}

@keyframes modalBoxDown {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Contact section */
.contact-list {
  font-size: 18px;
  margin-bottom: 18px;
}
.contact-list li {
  list-style: none;
  line-height: 1.5;
}

.contact-list li i {
  margin-right: 10px;
}

.form-control {
  font-size: 15px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}

/* map section */
.map-img{
  width: 100%;
}

/* footer section */
#footer {
  font-size: 24px;
  padding: 64px 16px;
  text-align: center;
 
}

.social-list li{
  list-style: none;
  display: inline-block;
}

.social-list li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  
}

.footer-text{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  margin: 15px 0;
}

.footer-text a{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.social-list li a:hover,
.footer-text a:hover{
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}